/Framework/NS.Framework.Repository/obj
/Framework/NS.Framework.Repository/bin
/Framework/NS.Framework.Repository.Pattern.MySQL/bin
/Framework/NS.Framework.Repository.Pattern.MySQL/obj
/Framework/NS.Framework.Service/bin
/Framework/NS.Framework.Service/obj
/NS.Core/obj
/NS.Core/bin
/NS.Data/obj
/NS.Data/bin
/NS.Domain/obj
/NS.Domain/bin
/NS.Service/bin
/NS.Service/obj
/NS.Web/bin
/NS.Web/obj
/NS.Web.Framework/obj
/NS.Web.Framework/bin
/NS.Repository/obj
/NS.Repository/bin
