/Framework/DS.Framework.Repository/obj
/Framework/DS.Framework.Repository/bin
/Framework/DS.Framework.Repository.Pattern.MySQL/bin
/Framework/DS.Framework.Repository.Pattern.MySQL/obj
/Framework/DS.Framework.Service/bin
/Framework/DS.Framework.Service/obj
/DS.Core/obj
/DS.Core/bin
/DS.Data/obj
/DS.Data/bin
/DS.Domain/obj
/DS.Domain/bin
/DS.Service/bin
/DS.Service/obj
/DS.Web/bin
/DS.Web/obj
/DS.Web.Framework/obj
/DS.Web.Framework/bin
/DS.Repository/obj
/DS.Repository/bin
