/ds/.vs/ds/v15/Server/sqlite3
/Framework/DS.Framework.Repository/obj
/Framework/DS.Framework.Repository/bin
/Framework/DS.Framework.Repository.Pattern.MySQL/bin
/Framework/DS.Framework.Repository.Pattern.MySQL/obj
/Framework/DS.Framework.Service/bin
/Framework/DS.Framework.Service/obj
/Libraries/DS.Core/bin
/Libraries/DS.Core/obj
/Libraries/DS.Data/bin
/Libraries/DS.Data/obj
/Libraries/DS.Domain/bin
/Libraries/DS.Domain/obj
/Libraries/DS.Repository/bin
/Libraries/DS.Repository/obj
/Libraries/DS.Service/bin
/Libraries/DS.Service/obj
/Plugins/DS.Plugin.Test/bin
/Plugins/DS.Plugin.Test/obj
/Presentation/DS.Web/bin
/Presentation/DS.Web/obj
/Presentation/DS.Web/Plugins/
/Presentation/DS.Web.Framework/bin
/Presentation/DS.Web.Framework/obj
